html {
  background-color: #071013;
  color: #F3F3F3;
}

input {
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

button {
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  background-color: #026C7C;
}